
.vs/OnePortal-Api/CopilotIndices/17.14.939.21063/CodeChunks.db

.vs/OnePortal-Api/CopilotIndices/17.14.939.21063/CodeChunks.db-shm

.vs/OnePortal-Api/CopilotIndices/17.14.939.21063/CodeChunks.db-wal

.vs/OnePortal-Api/CopilotIndices/17.14.939.21063/SemanticSymbols.db

.vs/OnePortal-Api/CopilotIndices/17.14.939.21063/SemanticSymbols.db-shm

.vs/OnePortal-Api/CopilotIndices/17.14.939.21063/SemanticSymbols.db-wal

.vs/OnePortal-Api/DesignTimeBuild/.dtbcache.v2

.vs/OnePortal-Api/FileContentIndex/1132be24-dd7b-4e94-ac5c-e2ec02dedbb8.vsidx

.vs/OnePortal-Api/FileContentIndex/311c7130-9699-4f00-8ccf-7413be165c6c.vsidx

.vs/OnePortal-Api/FileContentIndex/b6b37567-ba33-4add-bbaf-ac8d5887b514.vsidx

.vs/OnePortal-Api/FileContentIndex/f1449a37-343b-4223-9182-626bab6e7243.vsidx

.vs/OnePortal-Api/v17/.futdcache.v2

.vs/OnePortal-Api/v17/.suo

.vs/OnePortal-Api/v17/DocumentLayout.backup.json

.vs/OnePortal-Api/v17/DocumentLayout.json

.vs/ProjectEvaluation/oneportal-api.metadata.v9.bin

.vs/ProjectEvaluation/oneportal-api.projects.v9.bin

.vs/ProjectEvaluation/oneportal-api.strings.v9.bin

OnePortal-Api/bin/Debug/net8.0/OnePortal-Api.dll

OnePortal-Api/bin/Debug/net8.0/OnePortal-Api.exe

OnePortal-Api/bin/Debug/net8.0/OnePortal-Api.pdb

OnePortal-Api/bin/Debug/net8.0/OnePortal-Api.staticwebassets.runtime.json

OnePortal-Api/obj/Debug/net8.0/

OnePortal-Api/obj/

OnePortal-Api/
